<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>my products page </title>
</head>
<body>
<h1> Plz, Add books </h1>
    <form action = "#" th:action="@{addBooks}" th:object="${newBook}" method="post">

        <p> Sku : <input type = "text" th:field="*{sku}" /> </p>
        <p> Title : <input type = "text" th:field="*{title}" /></p>
        <p> Author : <input type ="text" th:field ="*{author}" /></p>
        <p> Description : <input type = "text" th:field="*{description}" /></p>
        <p> price : <input type = "text" th:field="*{price}" /></p>
        <p> <input type="submit"  value="Add a book" /></p>



    </form>

</body>
</html>